In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("people_fact_clean.csv")

In [3]:
df["hire_date"] = pd.to_datetime(df["hire_date"], errors="coerce")

In [4]:
df["term_date"] = pd.to_datetime(df["term_date"], errors="coerce")

In [5]:
df.head()

,employee_id,hire_date,term_date,first_name,last_name,department,sub-department,first_level_manager,second_level_manager,third_level_manager,...,term_reason,active_status,gender,race,birth_date,education,location,location_city,marital_status,employment_status
0,12104572130,2017-06-28,NaT,Kip,O'Finan,Executive,NaN,NaN,NaN,NaN,...,NaN,1,Female,Caucasian,1/25/1967,Master's degree,On-site,Los Angeles,Married,Full Time
1,3381966,2017-12-18,NaT,Kate,Maceur,Legal,Intellectual Property,3.278384e+09,1.490362e+09,2.591261e+09,...,NaN,1,Female,Caucasian,12/26/1990,Bachelor's degree,Remote,Washington DC,Single,Full Time
2,12868764,2012-03-28,NaT,Bard,Kenneford,Software,Software Development,7.216768e+09,6.279119e+09,6.268712e+09,...,NaN,1,Male,Caucasian,5/30/1982,Bachelor's degree,On-site,San Francisco,Single,Full Time
3,17445638,2017-06-29,2019-04-03,Saw,Sogg,Marketing,Public Relations,6.725256e+09,2.884264e+09,1.949400e+09,...,Found a better opportunity,0,Male,Caucasian,8/5/1984,Bachelor's degree,Remote,Columbus,Single,Full Time
4,19611331,2021-04-12,NaT,Cullen,Stiell,HR,Benefits,6.064345e+09,8.377150e+09,1.210457e+10,...,NaN,1,Male,African American,10/4/1990,Bachelor's degree,Remote,Washington DC,Single,Full Time

In [ ]:
def headcount_as_of(df, as_of_date):
    as_of_date = pd.to_datetime(as_of_date)
    return df[
        (df["hire_date"] <= as_of_date) &
        ((df["term_date"].isna()) | (df["term_date"] > as_of_date))
    ]["employee_id"].nunique()